PORT=8787
TEKMEMO_API_KEY=tk_selfhost_change_me
TEKMEMO_DEFAULT_PROJECT_ID=default

TEKMEMO_DATABASE_URL=postgres://tekmemo:tekmemo@postgres:5432/tekmemo
TEKMEMO_QUEUE=postgres

TEKMEMO_OBJECT_STORE=s3
TEKMEMO_S3_ENDPOINT=http://minio:9000
TEKMEMO_S3_BUCKET=tekmemo
TEKMEMO_S3_ACCESS_KEY_ID=tekmemo
TEKMEMO_S3_SECRET_ACCESS_KEY=tekmemo-secret
TEKMEMO_S3_REGION=auto
TEKMEMO_S3_FORCE_PATH_STYLE=true

TEKMEMO_DISABLE_TELEMETRY=true
TEKMEMO_DISABLE_EXTERNAL_PROVIDERS=true
